.topnavbar{
  /* background-color: black !important;  */
  opacity: 1.0;
}
.navbar{
  z-index: 50000;
  width:100%;
  background-color: black	 !important; 
}
.topnavbar .center-navs{
  padding-left: 300px;
  /* padding-right: 450px; */
}
.topnavbar .nav-link{
  font:normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
  padding-left: 30px !important;
}
.topnavbar .regHome{
  padding-top: 20px;
}
button{
  height:50px;
  width:200px;
  background-color: #d94a75;
  border:1px solid #d94a75;
  border-radius: 5px;
}